@font-face {
    font-family: "Witcher";
    src: url(../font/thewitcher-font/Thewitcher-jnOj.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
:root {
    --i: calc(1vw + 1vh);
    --lightSilver: #cacccd;
    --greyBlue: #4d5b5b;
    --darkBlue: #131f2d;
    --bloodyRed: #950b12;
    --fireOrange: #cfbd88;
}
body {
    background: var(--darkBlue);
    overflow: hidden;
    font-family: "Witcher";
    font-size: calc(var(--i) * 2);
}
a {
    text-decoration: none;
    color: var(--lightSilver);
}
li {
    list-style: none;
}
.texture {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url("../img/concrete.jpg");
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 99;
}
main {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
}
header {
    position: absolute;
    display: grid;
    width: 50%;
    height: 100vh;
    z-index: 10;
    padding: calc(var(--i) * 2);
}
header .logo {
    width: calc(var(--i) * 8);
    filter: drop-shadow(-2px 5px var(--darkBlue))
        drop-shadow(0 0 8px var(--darkBlue));
}
header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--i) * 2);
}
header li a {
    position: relative;
    font-size: calc(var(--i) * 3);
    width: max-content;
    background: linear-gradient(var(--lightSilver), var(--lightSilver), var(--greyBlue));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(-2px 5px var(--darkBlue));
}

header li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: linear-gradient(45deg, var(--bloodyRed), var(--fireOrange), var(--bloodyRed));
    transition: width 0.8s ease-in-out;
}
header li a:hover::after {
    width: 100%;
}
.img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgHeads {
    top: calc(var(--i) * 0.8);
    background: url("../img/front.png");
    background-position: 75% center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: 75% 30%;
    animation: heads 4s ease-in-out infinite;
    filter: drop-shadow(-30px 10px 10px var(--darkBlue));
}
.imgGeralt {
    background: url("../img/mid.png");
    background-position: 75% center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: geralt 2s ease-in-out infinite;
    transform-origin: 75% center;
    filter: drop-shadow(0 0 30px var(--darkBlue));
}
.imgBack {
    background: url("../img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s ease-out;
    z-index: -1;
}
.imgFire {
    background: url("../img/fire.png");
    background-position: 20% center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(1);
    animation: fire 3s ease-in-out infinite;
}
.imgArm {
    background: url("../img/arm.png");
    background-position: 75% center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: arm 10s ease-in-out infinite;
}
.canvas {
    position: fixed;
    inset: 0;
    z-index: 100;
}

@keyframes heads {
    from {
        transform: rotate3D(-0.5, -0.5, -0.25, 5deg);
    }
    50% {
        transform: rotateY(10deg);
    }
    to {
        transform: rotate3D(0.5, 0.5, 0.25, -5deg);
    }
}
@keyframes geralt {
    50% {
        transform: rotateZ(0.2deg) rotateX(2deg);
    }
}
@keyframes fire {
    0%,
    100% {
        transform: scale(1.02);
    }
    50% {
        filter: saturate(5.5);
        transform: scale(1);
    }
}
@keyframes arm {
    50% {
        transform: rotateZ(0.8deg) rotateX(4deg);
    }
}
